{% extends "base.html" %}
{% set active_page = "codigo_etico" %}

{% block content %}
	<div class="row">
		<div class="span11">
			<h1>C&oacute;digo &eacute;tico</h1>
			<h2>Promotores/as</h2>
			<p class="analizo-text-align">La/s persona/s y/o entidad/es promotora/s del proyecto de an&aacute;lisis se comprometen a&#58;</p>
			<ul class="analizo-text-align">
				<li>Promover proyectos de an&aacute;lisis que persigan la construcci&oacute;n de una sociedad m&aacute;s justa.</li>
				<li>Abstenerse de poner en marcha proyectos de an&aacute;lisis para los que se persiga el lucro.</li>
				<li>Hacer p&uacute;blicos los datos de la/s persona/s y/o entidad/es promotora/s.</li>
				<li>Hacer p&uacute;blicas las fuentes de financiaci&oacute;n del proyecto de an&aacute;lisis.</li>
				<li>No promover proyectos que justifiquen, amparen o promueva el racismo, la xenofobia, la intolerancia o cualquier forma de discriminaci&oacute;n de personas o grupos de personas.</li>
				<li>No promover proyectos que incumplan la legislaci&oacute;n vigente en materia de privacidad y  protecci&oacute;n de datos.</li>
				<li>Ser rigurosos en el dise&ntilde;o de las metodolog&iacute;as de an&aacute;lisis que permitan obtener resultados objetivos, veraces, exactos e imparciales.</li>
				<li>Presentar los resultados obtenidos en formatos abiertos de forma completa, ordenada y veraz.</li>
				<li>Reconocer la autor&iacute;a referida al planteamiento y dise&ntilde;o de los proyectos de an&aacute;lisis.</li>
			</ul>
			<h2>Analistas</h2>
			<p class="analizo-text-align">Las personas que participen en los proyectos de an&aacute;lisis se comprometen a&#58;</p>
			<ul class="analizo-text-align">
				<li>Identificar y comprender los objetivos de los proyectos de an&aacute;lisis en los que participan.</li>
				<li>Actuar con responsabilidad en la resoluci&oacute;n de las tareas definidas en los an&aacute;lisis.</li>
				<li>Informar en caso de duda sobre la capacidad de los procesos de an&aacute;lisis, m&eacute;todos, datos o resultados de investigaci&oacute;n de promover una sociedad m&aacute;s justa.</li>
				<li>Abstenerse de participar en proyectos para los que se crea que no est&aacute;n capacitados.</li>
				<li>Abstenerse de participar en proyectos con intenci&oacute;n destructiva o saboteadora.</li>
			</ul>
			<h2>Responsables de <a title="Analizo.info&#58; Convi&eacute;rtete en analista de informaci&oacute;n por el cambio social" href="http://analizo.info/" target="_blank">analizo.info</a></h2>
			<p class="analizo-text-align">Las personas responsables de la iniciativa <a title="Analizo.info&#58; Convi&eacute;rtete en analista de informaci&oacute;n por el cambio social" href="http://analizo.info/" target="_blank">analizo.info</a> se comprometen a&#58;</p>
			<ul class="analizo-text-align">
				<li>Desarrollar y mantener la iniciativa sin &aacute;nimo de lucro.</li>
				<li>Gestionar la iniciativa bajo los principios de transparencia y rendici&oacute;n de cuentas.</li>
				<li>Garantizar el compromiso de los proyectos de an&aacute;lisis publicados con la construcci&oacute;n de una sociedad m&aacute;s justa.</li>
				<li>Mantener el compromiso con <i>open data</i>, <i>open content</i>, el software libre y <i>open source</i> para el desarrollo de la comunidad y/o los proyectos de an&aacute;lisis.</li>
				<li>Reconocer la autor&iacute;a referida a datos, contenidos, aplicaciones software libre y <i>open source</i> integradas en la comunidad y/o los proyectos de an&aacute;lisis.</li>
			</ul>
		</div>
	</div>
{% endblock %}
