	<div class="row">
		<div class="span11">
			<h1>Aviso Legal</h1>
			<p>En cumplimiento del art&iacute;culo 10 de la Ley 34&#47;2002, de 11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y Comercio Electr&oacute;nico, a continuaci&oacute;n se exponen los datos identificativos de <a title="Analizo.info&#58; Convi&eacute;rtete en analista de informaci&oacute;n por el cambio social" href="http://analizo.info/" target="_blank">analizo.info</a>&#58;</p>
			<p><strong>Promotor&#58;</strong> Diego &Aacute;lvarez S&aacute;nchez.<br/><strong>Domicilio&#58;</strong> Universitat Polit&egrave;cnica de Val&egrave;ncia. Edificio 1E. Camino de Vera, s&#47;n. 46022. Valencia.<br/><strong>Tel&eacute;fono&#58;</strong> &#43;34 96 387 93 97<br/><strong>E-mail&#58;</strong> contacto &#64; analizo.info</p>
	</div>
</div>
