      <div class="container" style="padding:0">
        <div class="row-fluid" style="text-align:center;">
          <div class="span4">
              <a title="CCC" href="http://citizencyberscience.net/" target="_blank"><img src="{{url_for('static', filename='img/ccc.png')}}" style="max-width:50%"></a>
          </div>
          <div class="span4">
              <a title="Open Knowledge Foundation" href="http://okfn.org/" target="_blank"><img src="{{url_for('static', filename='img/okf.png')}}" style="max-width:50%"></a>
          </div>
          <!--<div class="span3">
              <a href="http://www.unige.ch/"><img src="{{url_for('static', filename='img/udg.png')}}" style="max-width:50%"></a>
          </div>-->
          <div class="span4">
              <a title="PyBossa &middot; Developers" href="http://dev.pybossa.com/" target="_blank"><img src="{{url_for('static', filename='img/pybossa.png')}}" style="max-width:50%"></a>
          </div>
        </div>
      </div>
